*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



#container{
    width: 100%;
    height: 100vh;
    /*background-color: #e3f9ff;*/
    background-color: #BFEAF5;
    /*background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(97,186,255,1) 0%, rgba(166,239,253,1) 90.1% );*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background: #3a4452;
    
    padding: 20px;
    border-radius: 10px;
}

 input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
   
}

.display{
    display: flex;
   
    justify-content: flex-end;
    margin: 20px 0;
}

.display input {
    text-align: right;
    background: #3a4452;
    flex: 1;
    font-size: 45px;
   box-shadow: none;
}
input.equal{
    width: 145px;
    /*background-color: #3F979B;*/
    background-color: #408E91;
}

.operator{
    color: #33ffd8;
}
.ac{
    /*background-color: #205E61;*/
    background-image: linear-gradient( 109.6deg,  rgba(45,116,213,1) 11.2%, rgba(121,137,212,1) 91.2% );
}